openapi: 3.1.0
info:
  title: Novara Flex (KPA Flex) API
  version: v1-unofficial-2026-09-29
  description: 'Unofficial OpenAPI 3.1 specification derived from the public Novara Flex API documentation. The upstream API
    uses a JSON-RPC-style convention over method-specific HTTPS URLs. Every documented method accepts GET or POST; this specification
    models POST because POST uses a normal JSON request body and is compatible with OpenAPI tooling. For GET, Novara Flex
    expects a URL-encoded raw JSON object as the entire query string, a convention OpenAPI cannot model faithfully. Authentication
    is a `token` field inside every request object rather than an HTTP Authorization header, so no OpenAPI securityScheme
    is declared. The published protocol states that application-level failures are also returned with HTTP 200 and `ok: false`.
    This file is not an official Novara/KPA artifact; verify critical fields against the linked upstream method documentation
    before production use. Re-checked against the published method documentation on 2026-09-29: every documented request
    parameter is declared, and documented response properties missing until then were added as optional, with their types
    checked on the live API wherever records were available (the live API wins where the two disagree). The `required`
    lists of the response schemas come from live observation: a property is required only where every observed record
    from every method that returns its schema carried it, and present-but-null counts as present, so a nullable property
    can be required. A schema observed too rarely to judge has only its identity fields required, a shape not yet
    observed on the wire has none, and a property that appears only behind a request flag stays optional.'
externalDocs:
  description: Official Novara Flex API documentation
  url: https://api.novaraflex.com/docs/
servers:
- url: https://api.novaraflex.com/v1
  description: Novara Flex production API
tags:
- name: account
- name: acknowledgments
- name: api
- name: attachment
- name: companies
- name: completedtrainings
- name: contractor-contacts
- name: contractor-requirement
- name: contractor-requirements
- name: contractors
- name: datalistitems
- name: datalists
- name: dataload
- name: driver-qualifications
- name: equipments
- name: equipmenttypes
- name: establishments
- name: fieldoffices
- name: followups
- name: formfolders
- name: forms
- name: grouptrainings
- name: inspections
- name: jobtitles
- name: linesofbusiness
- name: osha-hours
- name: projects
- name: resources
- name: resourcetags
- name: responses
- name: roles
- name: training-employee-status
- name: trainings
- name: users
paths:
  /account.info:
    post:
      tags:
      - account
      summary: Get account information
      description: Returns details for the organization associated with the API token.
      operationId: accountInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/account.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    account:
                      $ref: '#/components/schemas/Account'
                  additionalProperties: true
                  required:
                  - ok
                  - account
                - $ref: '#/components/schemas/ApiError'
  /acknowledgments.info:
    post:
      tags:
      - acknowledgments
      summary: Get acknowledgment
      description: Returns details of an acknowledgment and its recipients.
      operationId: acknowledgmentsInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/acknowledgments.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                id:
                  type: string
                  description: Acknowledgment ID.
                  example: 5804f0f30ef50473af5870c6
              required:
              - token
              - id
            example:
              token: YOUR_TOKEN
              pretty: true
              id: 5804f0f30ef50473af5870c6
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    acknowledgment:
                      $ref: '#/components/schemas/Acknowledgment'
                  additionalProperties: true
                  required:
                  - ok
                  - acknowledgment
                - $ref: '#/components/schemas/ApiError'
  /acknowledgments.list:
    post:
      tags:
      - acknowledgments
      summary: List acknowledgments
      description: Returns acknowledgments sent by the organization.
      operationId: acknowledgmentsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/acknowledgments.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    acknowledgments:
                      type: array
                      items:
                        $ref: '#/components/schemas/Acknowledgment'
                  additionalProperties: true
                  required:
                  - ok
                  - acknowledgments
                - $ref: '#/components/schemas/ApiError'
  /api.echo:
    post:
      tags:
      - api
      summary: Echo request data
      description: Testing method that echoes the object provided in the response property.
      operationId: apiEcho
      externalDocs:
        url: https://api.novaraflex.com/docs/method/api.echo
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                response:
                  type: object
                  additionalProperties: true
                  description: Object to echo as the API response. Any JSON object is accepted; the API returns it as the entire
                    response body.
                  example:
                    ok: true
                    foo: bar
              required:
              - token
              - response
            example:
              token: YOUR_TOKEN
              pretty: true
              response:
                ok: true
                foo: bar
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties: {}
                  additionalProperties: true
                  description: Arbitrary object echoed by the API.
                - $ref: '#/components/schemas/ApiError'
  /api.ping:
    post:
      tags:
      - api
      summary: Ping API
      description: Verifies API health, connectivity, and token validity.
      operationId: apiPing
      externalDocs:
        url: https://api.novaraflex.com/docs/method/api.ping
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                  additionalProperties: true
                  required:
                  - ok
                - $ref: '#/components/schemas/ApiError'
  /attachment.load:
    post:
      tags:
      - attachment
      summary: Load attachment
      description: Loads an uploaded attachment. Published docs describe this request as being redirected to binary data.
        Observed on the live API 2026-09-29, a known key answers HTTP 302 with a cross-origin https Location whose GET
        serves the file, while an unknown key answers HTTP 200 with an application/json error envelope, error
        invalid_key_for_customer.
      operationId: attachmentLoad
      externalDocs:
        url: https://api.novaraflex.com/docs/method/attachment.load
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                key:
                  type: string
                  description: Attachment storage key.
                  example: 33703da906bc12e595c499f0/public/elhz928rva67x255/photo.jpg
              required:
              - token
              - key
            example:
              token: YOUR_TOKEN
              pretty: true
              key: 33703da906bc12e595c499f0/public/elhz928rva67x255/photo.jpg
      responses:
        '200':
          description: Binary attachment or an application-level JSON error. On the live API only the JSON error has been
            seen with HTTP 200; a known key answered 302 (see below), and the binary media types here describe the file
            that redirect leads to.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '302':
          description: Redirect to the attachment's binary data, observed on the live API 2026-09-29. The Location is a
            cross-origin https URL that serves the file to a GET without a body. A client must not let a 307 or 308
            re-send the POST body, which carries the token, to that origin.
          headers:
            Location:
              description: The file's URL. Treat it as a credential; it may be signed.
              schema:
                type: string
  /companies.list:
    post:
      tags:
      - companies
      summary: List companies
      description: Returns companies listed for the organization.
      operationId: companiesList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/companies.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    companies:
                      type: array
                      items:
                        $ref: '#/components/schemas/Company'
                  additionalProperties: true
                  required:
                  - ok
                  - companies
                - $ref: '#/components/schemas/ApiError'
  /completedtrainings.v2.list:
    post:
      tags:
      - completedtrainings
      summary: List completed trainings
      description: Returns training completion records, sorted most recent first.
      operationId: completedtrainingsV2List
      externalDocs:
        url: https://api.novaraflex.com/docs/method/completedtrainings.v2.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                training_id:
                  type: integer
                  description: Filter by training ID.
                  example: 1024
                user_id:
                  type: string
                  description: Filter by user ID.
                  example: C906DA7B026376DA7B02BB12
                has_attachments:
                  type: boolean
                  description: When true, only records with attachments; when false, only records without attachments.
                  example: true
                limit:
                  type: integer
                  default: 100
                  minimum: 1
                  maximum: 1000
                  description: Maximum records returned.
                  example: 100
                page:
                  type: integer
                  default: 1
                  minimum: 1
                  description: 1-based page number.
                  example: 1
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              training_id: 1024
              user_id: C906DA7B026376DA7B02BB12
              has_attachments: true
              limit: 100
              page: 1
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    completedtrainings:
                      type: array
                      items:
                        $ref: '#/components/schemas/CompletedTraining'
                    paging:
                      $ref: '#/components/schemas/Paging'
                  additionalProperties: true
                  required:
                  - ok
                  - completedtrainings
                  - paging
                - $ref: '#/components/schemas/ApiError'
  /contractor-contacts.list:
    post:
      tags:
      - contractor-contacts
      summary: List contractor contacts
      description: Returns contacts for a contractor.
      operationId: contractorContactsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/contractor-contacts.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                contractor_id:
                  type: string
                  description: Contractor ID.
                  example: D2EEA9E5-3E10-44BC-92EC-50B587B83019
                only_mine:
                  type: boolean
                  default: false
                  description: Exclude contacts created by other Novara clients when true.
                  example: true
              required:
              - token
              - contractor_id
            example:
              token: YOUR_TOKEN
              pretty: true
              contractor_id: D2EEA9E5-3E10-44BC-92EC-50B587B83019
              only_mine: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    contacts:
                      type: array
                      items:
                        $ref: '#/components/schemas/ContractorContact'
                  additionalProperties: true
                  required:
                  - ok
                  - contacts
                - $ref: '#/components/schemas/ApiError'
  /contractor-requirement.info:
    post:
      tags:
      - contractor-requirement
      summary: Get contractor requirement status
      description: Returns contractor statuses for a specific requirement.
      operationId: contractorRequirementInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/contractor-requirement.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                requirement_id:
                  type: string
                  description: Requirement ID.
                  example: 2D50433E-F36B-1410-8C82-006D55A93A8F
              required:
              - token
              - requirement_id
            example:
              token: YOUR_TOKEN
              pretty: true
              requirement_id: 2D50433E-F36B-1410-8C82-006D55A93A8F
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    requirement_id:
                      type: string
                    contractors:
                      type: array
                      items:
                        type: object
                        properties:
                          contractor_id:
                            type: string
                          name:
                            type: string
                          status:
                            type: string
                            description: 'Values in the docs example: Pending Submission, Approved. Not an enum.'
                        additionalProperties: true
                  additionalProperties: true
                  required:
                  - ok
                  - requirement_id
                  - contractors
                - $ref: '#/components/schemas/ApiError'
  /contractor-requirements.list:
    post:
      tags:
      - contractor-requirements
      summary: List contractor requirements
      description: Returns contractor requirements.
      operationId: contractorRequirementsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/contractor-requirements.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                limit:
                  type: integer
                  default: 100
                  minimum: 1
                  maximum: 500
                  description: Maximum requirements returned.
                  example: 100
                page:
                  type: integer
                  default: 1
                  minimum: 1
                  description: 1-based page number.
                  example: 1
                type:
                  type: string
                  enum:
                  - Upload
                  - Form
                  - Signoff
                  - Training
                  description: Filter by requirement type.
                  example: Training
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              limit: 100
              page: 1
              type: Training
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    requirements:
                      type: array
                      items:
                        $ref: '#/components/schemas/ContractorRequirement'
                    paging:
                      $ref: '#/components/schemas/Paging'
                  additionalProperties: true
                  required:
                  - ok
                  - requirements
                  - paging
                - $ref: '#/components/schemas/ApiError'
  /contractors.list:
    post:
      tags:
      - contractors
      summary: List contractors
      description: Returns contractors listed for the organization.
      operationId: contractorsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/contractors.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                limit:
                  type: integer
                  default: 100
                  minimum: 1
                  maximum: 1000
                  description: Maximum contractors returned.
                  example: 100
                page:
                  type: integer
                  default: 1
                  minimum: 1
                  description: 1-based page number.
                  example: 1
                status:
                  type: string
                  enum:
                  - new
                  - pending
                  - approved
                  - denied
                  description: Filter by approval status.
                  example: new
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              limit: 100
              page: 1
              status: new
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    contractors:
                      type: array
                      items:
                        $ref: '#/components/schemas/Contractor'
                    paging:
                      $ref: '#/components/schemas/Paging'
                  additionalProperties: true
                  required:
                  - ok
                  - contractors
                  - paging
                - $ref: '#/components/schemas/ApiError'
  /datalistitems.list:
    post:
      tags:
      - datalistitems
      summary: List data-list items
      description: Returns items from a custom data list.
      operationId: datalistitemsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/datalistitems.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                data_list_id:
                  type: integer
                  description: Data-list ID.
                  example: 324
                include_deleted:
                  type: boolean
                  default: false
                  description: Include deleted items.
                  example: false
                include_inactive:
                  type: boolean
                  default: false
                  description: Include inactive items.
                  example: false
              required:
              - token
              - data_list_id
            example:
              token: YOUR_TOKEN
              pretty: true
              data_list_id: 324
              include_deleted: false
              include_inactive: false
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    datalistitems:
                      type: array
                      items:
                        $ref: '#/components/schemas/DataListItem'
                  additionalProperties: true
                  required:
                  - ok
                  - datalistitems
                - $ref: '#/components/schemas/ApiError'
  /datalists.list:
    post:
      tags:
      - datalists
      summary: List custom data lists
      description: Returns custom data lists created by the organization.
      operationId: datalistsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/datalists.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    datalists:
                      type: array
                      items:
                        $ref: '#/components/schemas/DataList'
                  additionalProperties: true
                  required:
                  - ok
                  - datalists
                - $ref: '#/components/schemas/ApiError'
  /dataload.create:
    post:
      tags:
      - dataload
      summary: Create data load
      description: Submits a CSV data load for employee or other supported synchronization. Files may be supplied by URL or
        as a base64 data URI.
      operationId: dataloadCreate
      externalDocs:
        url: https://api.novaraflex.com/docs/method/dataload.create
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                url:
                  type: string
                  format: uri
                  description: Public HTTPS URL to the data-load file; signed S3 URLs are recommended.
                  example: https://example.com/signed-file.csv
                file:
                  type: string
                  description: 'Base64 CSV data URI beginning with "data:text/csv;base64,". Published limit: 12 MB.'
                  example: data:text/csv;base64,...
                adapter:
                  type: string
                  description: Adapter/template identifier to apply.
                  example: acme-hr
                failureEmails:
                  type: array
                  items:
                    type: string
                    format: email
                  description: Email addresses notified if the data load fails.
                  example:
                  - jane@example.com
                successEmails:
                  type: array
                  items:
                    type: string
                    format: email
                  description: Email addresses notified when the data load finishes.
                  example:
                  - john@example.com
                name:
                  type: string
                  description: Optional display name for the file. Defaults to api.TIMESTAMP.csv for a base64 file.
                  example: simple-file-name.csv
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              url: https://example.com/signed-file.csv
              file: data:text/csv;base64,...
              adapter: acme-hr
              failureEmails:
              - jane@example.com
              successEmails:
              - john@example.com
              name: simple-file-name.csv
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    dataload:
                      $ref: '#/components/schemas/DataLoadCreate'
                  additionalProperties: true
                  required:
                  - ok
                  - dataload
                - $ref: '#/components/schemas/ApiError'
  /dataload.info:
    post:
      tags:
      - dataload
      summary: Get data-load status
      description: Returns status for a submitted data load.
      operationId: dataloadInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/dataload.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                id:
                  type: string
                  description: Data-load ID.
                  example: 5804f0f30ef50473af5870c6
              required:
              - token
              - id
            example:
              token: YOUR_TOKEN
              pretty: true
              id: 5804f0f30ef50473af5870c6
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    dataload:
                      $ref: '#/components/schemas/DataLoad'
                  additionalProperties: true
                  required:
                  - ok
                  - dataload
                - $ref: '#/components/schemas/ApiError'
  /driver-qualifications.list:
    post:
      tags:
      - driver-qualifications
      summary: List driver qualification status
      description: Returns employees and their driver qualification status details.
      operationId: driverQualificationsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/driver-qualifications.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    users:
                      type: array
                      items:
                        $ref: '#/components/schemas/DriverQualificationUser'
                  additionalProperties: true
                  required:
                  - ok
                  - users
                - $ref: '#/components/schemas/ApiError'
  /equipments.list:
    post:
      tags:
      - equipments
      summary: List equipment
      description: Returns equipment for the specified equipment type, including inspection status.
      operationId: equipmentsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/equipments.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                equipmentType_id:
                  type: string
                  description: Equipment type ID.
                  example: 5804f0f80ef50473af587886
                service_type:
                  type: string
                  default: in
                  enum:
                  - in
                  - out
                  - all
                  description: Filter by in-service/out-of-service state.
                  example: in
                columns:
                  type: array
                  items:
                    type: string
                  description: Columns to fetch. Omit to return all columns.
                  example:
                  - id
                  - serialNumber
                  - created
                  - status
                  - schedules
                include_null_metavalues:
                  type: boolean
                  default: false
                  description: Include empty metafield IDs with null values.
                  example: false
              required:
              - token
              - equipmentType_id
            example:
              token: YOUR_TOKEN
              pretty: true
              equipmentType_id: 5804f0f80ef50473af587886
              service_type: in
              columns:
              - id
              - serialNumber
              - created
              - status
              - schedules
              include_null_metavalues: false
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    equipments:
                      type: array
                      items:
                        $ref: '#/components/schemas/Equipment'
                  additionalProperties: true
                  required:
                  - ok
                  - equipments
                - $ref: '#/components/schemas/ApiError'
  /equipmenttypes.list:
    post:
      tags:
      - equipmenttypes
      summary: List equipment types
      description: Returns equipment types, including metafields and inspection schedules.
      operationId: equipmenttypesList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/equipmenttypes.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    equipmenttypes:
                      type: array
                      items:
                        $ref: '#/components/schemas/EquipmentType'
                  additionalProperties: true
                  required:
                  - ok
                  - equipmenttypes
                - $ref: '#/components/schemas/ApiError'
  /establishments.info:
    post:
      tags:
      - establishments
      summary: Get establishment
      description: Returns details for an establishment. The documentation currently labels establishments as coming soon.
      operationId: establishmentsInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/establishments.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                establishment_id:
                  type: integer
                  description: Establishment ID.
                  example: 324
              required:
              - token
              - establishment_id
            example:
              token: YOUR_TOKEN
              pretty: true
              establishment_id: 324
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    establishment:
                      type: array
                      items:
                        $ref: '#/components/schemas/Establishment'
                  additionalProperties: true
                  required:
                  - ok
                  - establishment
                - $ref: '#/components/schemas/ApiError'
      x-novara-coming-soon: true
  /establishments.list:
    post:
      tags:
      - establishments
      summary: List establishments
      description: Returns establishments created by the organization. The documentation currently labels establishments as
        coming soon.
      operationId: establishmentsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/establishments.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    establishments:
                      type: array
                      items:
                        $ref: '#/components/schemas/Establishment'
                  additionalProperties: true
                  required:
                  - ok
                  - establishments
                - $ref: '#/components/schemas/ApiError'
      x-novara-coming-soon: true
  /fieldoffices.list:
    post:
      tags:
      - fieldoffices
      summary: List field offices
      description: Returns field offices for the organization.
      operationId: fieldofficesList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/fieldoffices.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    fieldoffices:
                      type: array
                      items:
                        $ref: '#/components/schemas/FieldOffice'
                  additionalProperties: true
                  required:
                  - ok
                  - fieldoffices
                - $ref: '#/components/schemas/ApiError'
  /followups.list:
    post:
      tags:
      - followups
      summary: List follow-ups
      description: Searches follow-ups created within form responses, sorted newest first.
      operationId: followupsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/followups.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                form_id:
                  type: integer
                  description: Filter by form ID.
                  example: 3987
                limit:
                  type: integer
                  default: 100
                  minimum: 1
                  maximum: 500
                  description: Maximum follow-ups returned.
                  example: 500
                page:
                  type: integer
                  default: 1
                  minimum: 1
                  description: 1-based page number.
                  example: 1
                status:
                  type: string
                  enum:
                  - all
                  - open
                  - closed
                  - overdue
                  description: Filter by follow-up status.
                  example: open
                observer_id:
                  type: string
                  description: Filter by observer user ID.
                  example: 5804f0f30ef50473af5870c6
                assignee_id:
                  type: string
                  description: Filter by current assignee user ID.
                  example: 5804f0f30ef50473af5870c6
                response_id:
                  type: integer
                  description: Filter by originating form response ID.
                  example: 23974
                created_before:
                  type: integer
                  description: Only records created before this Unix epoch time in milliseconds.
                  example: 1476981004760
                created_after:
                  type: integer
                  description: Only records created after this Unix epoch time in milliseconds.
                  example: 1473688379489
                updated_before:
                  type: integer
                  description: Only records updated before this Unix epoch time in milliseconds.
                  example: 1476981004760
                updated_after:
                  type: integer
                  description: Only records updated after this Unix epoch time in milliseconds.
                  example: 1473688379489
                followup_display_id:
                  type: boolean
                  description: Include each follow-up's display ID, the Follow-Up ID shown to users in Flex, as followup_display_id.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              form_id: 3987
              limit: 500
              page: 1
              status: open
              observer_id: 5804f0f30ef50473af5870c6
              assignee_id: 5804f0f30ef50473af5870c6
              response_id: 23974
              created_before: 1476981004760
              created_after: 1473688379489
              updated_before: 1476981004760
              updated_after: 1473688379489
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    followups:
                      type: array
                      items:
                        $ref: '#/components/schemas/Followup'
                    paging:
                      $ref: '#/components/schemas/Paging'
                  additionalProperties: true
                  required:
                  - ok
                  - followups
                  - paging
                - $ref: '#/components/schemas/ApiError'
  /formfolders.list:
    post:
      tags:
      - formfolders
      summary: List form folders
      description: Returns form folders for the organization.
      operationId: formfoldersList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/formfolders.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    folders:
                      type: array
                      items:
                        $ref: '#/components/schemas/FormFolder'
                  additionalProperties: true
                  required:
                  - ok
                  - folders
                - $ref: '#/components/schemas/ApiError'
  /forms.info:
    post:
      tags:
      - forms
      summary: Get form definition
      description: Returns form metadata, version information, and fields.
      operationId: formsInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/forms.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                form_id:
                  type: integer
                  description: Form ID.
                  example: 1234
                include_versions:
                  type: boolean
                  default: false
                  description: Include prior form versions.
                  example: false
              required:
              - token
              - form_id
            example:
              token: YOUR_TOKEN
              pretty: true
              form_id: 1234
              include_versions: false
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    form:
                      $ref: '#/components/schemas/FormDetail'
                  additionalProperties: true
                  required:
                  - ok
                  - form
                - $ref: '#/components/schemas/ApiError'
  /forms.list:
    post:
      tags:
      - forms
      summary: List forms
      description: Returns forms created by the organization.
      operationId: formsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/forms.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    forms:
                      type: array
                      items:
                        $ref: '#/components/schemas/FormSummary'
                  additionalProperties: true
                  required:
                  - ok
                  - forms
                - $ref: '#/components/schemas/ApiError'
  /grouptrainings.list:
    post:
      tags:
      - grouptrainings
      summary: List group trainings
      description: Returns completed group trainings.
      operationId: grouptrainingsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/grouptrainings.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    grouptrainings:
                      type: array
                      items:
                        $ref: '#/components/schemas/GroupTraining'
                  additionalProperties: true
                  required:
                  - ok
                  - grouptrainings
                - $ref: '#/components/schemas/ApiError'
  /inspections.list:
    post:
      tags:
      - inspections
      summary: List equipment inspections
      description: Returns completed inspections for a given equipment item.
      operationId: inspectionsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/inspections.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                equipment_id:
                  type: string
                  description: Equipment ID.
                  example: 5804f0f30ef50473af5870c6
              required:
              - token
              - equipment_id
            example:
              token: YOUR_TOKEN
              pretty: true
              equipment_id: 5804f0f30ef50473af5870c6
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    inspections:
                      type: array
                      items:
                        $ref: '#/components/schemas/Inspection'
                  additionalProperties: true
                  required:
                  - ok
                  - inspections
                - $ref: '#/components/schemas/ApiError'
  /jobtitles.list:
    post:
      tags:
      - jobtitles
      summary: List job titles
      description: Returns job titles for the organization.
      operationId: jobtitlesList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/jobtitles.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    jobtitles:
                      type: array
                      items:
                        $ref: '#/components/schemas/JobTitle'
                  additionalProperties: true
                  required:
                  - ok
                  - jobtitles
                - $ref: '#/components/schemas/ApiError'
  /linesofbusiness.list:
    post:
      tags:
      - linesofbusiness
      summary: List lines of business
      description: Returns lines of business for the organization.
      operationId: linesofbusinessList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/linesofbusiness.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    linesofbusiness:
                      type: array
                      items:
                        $ref: '#/components/schemas/LineOfBusiness'
                  additionalProperties: true
                  required:
                  - ok
                  - linesofbusiness
                - $ref: '#/components/schemas/ApiError'
  /osha-hours.list:
    post:
      tags:
      - osha-hours
      summary: List OSHA hours
      description: Returns OSHA hours in JSON or CSV format, sorted newest first.
      operationId: oshaHoursList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/osha-hours.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                establishment_ids:
                  type: array
                  items:
                    type: integer
                  description: Filter by establishment IDs.
                  example:
                  - 1024
                year:
                  type: integer
                  description: Filter by year.
                  example: 2026
                months:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                    maximum: 12
                  description: Filter by month numbers.
                  example:
                  - 9
                page:
                  type: integer
                  default: 1
                  minimum: 1
                  description: 1-based page number.
                  example: 1
                limit:
                  type: integer
                  default: 1000
                  minimum: 1
                  maximum: 1000
                  description: Maximum records returned. Docs state a maximum and default of 1000.
                  example: 100
                format:
                  type: string
                  default: json
                  enum:
                  - json
                  - csv
                  description: Response format.
                  example: csv
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              establishment_ids:
              - 1024
              year: 2026
              months:
              - 9
              page: 1
              limit: 100
              format: csv
      responses:
        '200':
          description: Successful JSON/CSV output or an application-level JSON error. Check content type and, for JSON, the
            ok field.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
            novaraflex-total-results:
              description: Total matching results when CSV is requested. Observed on the live API 2026-09-29; this method
                sends only the novaraflex- pair, not the kpaehs- names the published docs give.
              schema:
                type: integer
            novaraflex-last-page:
              description: Last valid page number when CSV is requested.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    hours:
                      type: array
                      items:
                        $ref: '#/components/schemas/OshaHoursEntry'
                    paging:
                      $ref: '#/components/schemas/Paging'
                  required:
                  - ok
                  - hours
                  - paging
                  additionalProperties: true
                  description: The published docs give no JSON example for this endpoint. The hours array and the shape of its
                    items were observed on the live API on 2026-09-20; the object stays permissive.
                - $ref: '#/components/schemas/ApiError'
            text/csv:
              schema:
                type: string
  /projects.info:
    post:
      tags:
      - projects
      summary: Get project
      description: Returns a specific project.
      operationId: projectsInfo
      externalDocs:
        url: https://api.novaraflex.com/docs/method/projects.info
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                project_id:
                  type: integer
                  description: Project ID.
                  example: 21
              required:
              - token
              - project_id
            example:
              token: YOUR_TOKEN
              pretty: true
              project_id: 21
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    project:
                      $ref: '#/components/schemas/Project'
                  additionalProperties: true
                  required:
                  - ok
                  - project
                - $ref: '#/components/schemas/ApiError'
  /projects.list:
    post:
      tags:
      - projects
      summary: List projects
      description: Returns projects, sorted newest first.
      operationId: projectsList
      externalDocs:
        url: https://api.novaraflex.com/docs/method/projects.list
      x-novara-get-supported: true
      x-novara-get-note: The API also supports GET by placing a URL-encoded raw JSON object directly after '?'. This is intentionally
        not modeled as an OpenAPI GET operation because standard OpenAPI query parameters cannot accurately represent that
        wire format.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                token:
                  type: string
                  description: Novara Flex API token. Treat as a secret; tokens provide broad account access.
                  example: YOUR_TOKEN
                pretty:
                  type: boolean
                  default: false
                  description: When true, adds whitespace to JSON responses.
                  example: true
                limit:
                  type: integer
                  default: 10
                  minimum: 1
                  maximum: 500
                  description: Maximum projects returned.
                  example: 100
                page:
                  type: integer
                  default: 1
                  minimum: 1
                  description: 1-based page number.
                  example: 1
              required:
              - token
            example:
              token: YOUR_TOKEN
              pretty: true
              limit: 100
              page: 1
      responses:
        '200':
          description: Success or application-level error. Novara Flex documents both as HTTP 200; inspect the ok property.
          headers:
            HZS-Request-ID:
              description: Alpha-numeric request identifier used for support/debugging.
              schema:
                type: string
            HZS-Response-Time:
              description: Server processing time in milliseconds.
              schema:
                type: integer
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    ok:
                      type: boolean
                      enum:
                      - true
                    projects:
                      type: array
                      items:
                        $ref: '#/components/schemas/Project'
                    paging:
                      $ref: '#/components/schemas/Paging'
                  additionalProperties: true
                  required:
                  - ok
                  - projects
                  - paging
                - $ref: '#/components/schemas/ApiError'
  /resources.list:
    post:
      tags:
[...]
